@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@100;400;700&display=swap');

:root {
    --black: #170318;
    --white: #ffffff;
    --grey: #8d858c;
    --dk-red: #c0296d;
    --pink: #e436b3;
    --lt-purple: #9a77a7;
    --purple: #633cb1;
    --dk-blue: #21267e;
    --lt-blue: #67a8c0;
    --aqua: #55d9a6;
    --yellow: #e8da43;
    --lt-green: #88d648;
    --md-green: #4aa457;
    --dk-green: #367a28;

    --sans: 'Montserrat', sans-serif;
    --serif: 'Montaga', serif;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 18px;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--sans);
    background: url(images/laptop.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    color: var(--white);
    text-align: center;
    border: 3px rgba(255, 166, 0, 0) solid;
}

h1 {
    font-weight: bold; 
}

img {
    width: 100%;
    height: auto;
}

hr.my-hr {
    max-width: 75%;
    width: 500px;
    margin: 20px auto;
    border: 1px solid var(--lt-purple);
    opacity: 1;
}

.container {
    height: 50vh;
    /* border: 3px orange solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    width: 200px;
    margin-bottom: 20px;
}

.btn-container {
    height: 4em;
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: var(--lt-purple);
    border: 1px solid var(--purple);
    border-radius: 30px; 
    text-transform: uppercase; 
    transition: border 0.3s ease-in;
}

.btn-primary:hover {
    background-color: var(--purple);
    border: 4px solid var(--lt-purple);

}

.btn-xl {
    padding: 0.5rem 1.5rem;
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 16px;
    }
    
    body {
        -webkit-background-size: 150%;
        -moz-background-size: 150%;
        -o-background-size: 150%;
        background-size: 150%;
    }

    .logo-container {
        width: 140px;
    }
} 